# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R
*.Rout

# RStudio files
.Rproj.user/
*.Rproj
.RData

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# data files
data/*.csv
.Rproj.user

# latex junk
*.tex
*.gz
figure/*
*.log
